.middleground {
  width: 76%;
  position: absolute;
  left: 22%;
}

div.middleground ul {
  overflow: hidden;
  color: rgb(200,200,200);
  font-family: 'Lato', serif;
  list-style-type: none;
}

.MainTextClass {
  color: rgb(127,255,0);
  z-index: 99;
}

.MainTextClass pre {
  color: powderblue;
}

.MainTextClass a {
  text-decoration: none;
  color: rgb(100,100,100);
}
.MainTextClass a:hover {
  color: rgb(200,200,200);
}

.MainTextClass table {
  padding: 10px;
  background-color: rgba(200, 200, 200, .3);
  border: 2px solid black;
}
.MainTextClass table th {
  float: left;
}
.MainTextClass table td {
  text-align: center;
}
.MarkJavaTable {
  background-color: black;
}

.MainTextClass ul {
  margin: 0;
  padding: 0;
}

div.MainTextClass > ul div:not(:first-child) {
  margin: 100px 0;
}
div.MainTextClass ul div ul div{
  margin: 0;
}

.MovingLinks a {
  color: rgba(100,100,100,.5);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  
  position: relative;
  left: 0;

  -webkit-transition: left 1s;
  transition: left 1s;
}

.MovingLinks a:hover {
  color: rgb(150,150,150);
  text-shadow: 2px 2px 5px black;
  left: 10px;
}