.sidebar {
width: 20%;
position: fixed;
top: 0;
right: 0;

z-index: 100;
background-color: transparent;

max-height: 96%;
overflow: auto;
}

.sidebar ul {
margin: 0 0 0 0;
padding: 0;
list-style-type: none;
}

.sidebar li {
text-align: center;
}

.sidebar li a {
text-decoration: none;
display: block;
padding: 15% 20% 15% 20%;

background-color: rgba(10, 10, 10, 0.99);
color: black;
font-weight: bold;
font-size: 4vh;

-webkit-transition: color 1s;
transition: color 1s;
}

.sidebar li a:hover {
background-color: black;
color: rgb(200,200,200);
}

.sidebar div li a {
padding: 10% 10% 10% 10%;
margin: 0;
background-color: rgba(30,30,30,.99); /* */
color: rgba(0,0,0,.6);
font-weight: normal;
font-size: 2.5vh;

-webkit-transition: text-shadow 1s, color 1s;
transition: text-shadow 1s, color 1s;
}
.sidebar div li:last-child a {
border-bottom: 2px solid rgba(100, 100, 100, .7);
}
.sidebar div li:first-child a {
border-top: 2px solid rgba(100, 100, 100, .7);
}

.sidebar div li a:hover {
background-color: rgba(30,30,30,0.99);
text-shadow: 2px 2px 2px black, 0px 0px 10px black;
color: rgb(120, 0, 0);
}

.sideBarHide {
position: fixed;
top: 0;
right: 0;
width: 20%;
z-index: 100;
}

.sideBarHide a {
text-decoration: none;
text-align: center;
font-size: 1.8vh;
color: white;

display: block;

transition: color 1s;
-webkit-transition: color 1s;
}

.sideBarHide a:hover {
color: FireBrick;
}
