.kaushan-list ul, ul.kaushan-list {
 list-style-type: none;
 margin-left: 10px;
 padding: 0;
}

ul.kaushan-list > li {
  margin-bottom: 18px;
  color: white;
  font-family: "Kaushan Script";
  font-size: 26px;
}
ul.kaushan-list > li > ul {
  margin-top: 8px;
  font-family: monospace;
  font-size: 22px;
}
ul.kaushan-list > li > ul a {color: LightBlue;}
ul.kaushan-list > li > ul a:hover {color: FireBrick;}
