div.repr-side {
 float: left;
 height: 100%;
 width: 50%;
 background-color: black;
 border-right: 2px solid #0c111d;
}
div.cont-side {
 float: right;
 height: 100%;
 width: 50%;
 background-color: #0c111d;
 border-left: 2px solid black;
}
div.repr-side-inner {
  position: absolute;
  left: 25%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}
div.cont-side-inner {
  position: absolute;
  right: 25%;
  bottom: 50%;
  transform: translate(50%, 50%);
}

@media only screen and (max-width: 600px) {
  div.repr-side, div.cont-side {
    float: none;
    width: 100%;
  }
  div.repr-side-inner, div.cont-side-inner {
    position: static;
    transform: none;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}
