@keyframes winkclosed {
   0% {opacity: 1;}
   5% {opacity: 0;}
 }
 @keyframes winkopen {
  0% {opacity: 0;}
  5% {opacity: 1;}
 }
 .eyesOpen circle, ellipse {animation: winkopen 10s steps(1) infinite normal;}
 .eyesClosed line {animation: winkclosed 10s steps(1) infinite normal
