.middleground {
  width: 55%;
  position: absolute;
  left: 20%;
}

div.middleground ul {
  overflow: hidden;
  color: rgb(200,200,200);
  font-family: 'Lato', serif;
  list-style-type: none;
  /* word-wrap: break-word; */
}

.MainTextClass {
  color: rgb(127,255,0);
  z-index: 99;
}

.MainTextClass pre {
  color: powderblue;
}

.MainTextClass a {
  text-decoration: none;
  color: rgb(100,100,100);
}
.MainTextClass a:hover {
  color: rgb(200,200,200);
}

.MovingLinks a {
  color: rgba(100,100,100,.5);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  
  position: relative;
  left: 0;

  transition-property: left;
  transition-duration: 1s;
  -webkit-transition-property: left;
  -webkit-transition-duration: 1s;
}

.MovingLinks a:hover {
  color: rgb(150,150,150);
  text-shadow: 2px 2px 5px black;
  left: 10px;
}