* {box-sizing: border-box;}

body {
  margin: 0;
  background-color: rgb(20, 25, 40);
  color: white;
  font-size: 22px;
  font-family: "Tinos", "Lato";
}

h1 {
  color: orange;
  text-align: center;
  text-shadow: 2px 2px 1px 1px black;
  font-family: "Indie Flower";
}

h2 {
  margin-top: 0;
  color: rgb(140, 140, 160);
  text-shadow: 1px 1px 1px 1px black;
  font-family: "Indie Flower";
}

h3 {
  margin-bottom: 0;
  color: FireBrick;
  text-shadow: 1px 1px 1px 1px black;
  font-family: "Indie Flower";
}

a {
  color: orange;
  text-decoration: none;
}
a:hover {
  color: white;
}

ul {
  margin: 10px 0 10px 0;
  padding: 0;
  list-style-type: none;
}
ul > li {
  padding: 4px 0 4px 0;
  color: gray;
}

span.sttmnt {
  display: block;
  color: lime;
  margin-top: 10px;
  font-family: "Special Elite", monospace;
}

div.spaceDivs div ul li {
  margin-top: 3px;
  margin-bottom: 3px;
}
