div.divContainer {
  display: flex;
  flex-flow: row wrap; /* flex-direction & flex-wrap */
  justify-content: space-between; /* just in case */
}

div.divContainer div {
  flex-basis: 49%;
  flex-shrink: 1;

  padding: 1%;
  margin: 0.5%;

  border: 2px solid rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, .5);
  border-radius: 5px;
}

div.divContainer div:last-child {
  flex-grow: 2;
}

@media only screen and (max-width: 800px) {
  div.divContainer div {
    flex-basis: 100%;
    margin: 1.5vmax 0 1.5vmax 0;
    padding: 1.5vmax;
  }
}
