* {box-sizing: border-box;}

body {
  margin: 15px;
  background-color: rgb(50, 50, 50);
  color: white;
}

h1 {
  color: orange;
  text-align: center;
  text-shadow: 2px 2px 1px 1px black;
}

h2 {
  margin-top: 0;
  color: rgb(140, 140, 160);
  text-shadow: 1px 1px 1px 1px black;
}

h3 {
  margin-bottom: 0;
  font-size: 18px;
  color: FireBrick;
  text-shadow: 1px 1px 1px 1px black;
}

a {
  color: powderblue;
  text-decoration: none;

  transition: color 1s;
  -webkit-transition: color 1s;
}

a:hover {
  color: purple;
}

span.sttmnt {
  display: block;
  color: lime;
  margin-top: 10px;
  font-family: monospace;
}

div.spaceDivs div ul li {
  margin-top: 3px;
  margin-bottom: 3px;
}
