* {box-sizing: border-box;}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(40, 40, 40);
}
#canvus {
  background-color: rgb(100, 100, 100);
  display: block; /* magic that stops overflow */
}

#screenToSmall {
  display: none;
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  text-align: center;
  color: red;
  font-size: 15vh;
}

@media only screen and (max-width: 800px), screen and (max-height: 400px) {
  div.sidebar, #canvus, #help div {
    display: none;
  }
  #screenToSmall {
    display: block;
  }
}
