@keyframes blinkinLight {
  0%, 20%, 40%, 50%, 65% {opacity: 0.4;}
  10%, 30%, 60%, 90% {opacity: 1;}
}
@-webkit-keyframes blinkinLight {
  0%, 20%, 40%, 50%, 65% {opacity: 0.4;}
  10%, 30%, 60%, 90% {opacity: 1;}
}

div.gameOverDiv {
  display: none;
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);

  text-align: center;
  font-family: 'Bungee Hairline';
}
/* player won */
div.gameOverDiv div:first-child {
  display: none;
  text-shadow: 0vh 0vh 4vh powderblue, 0 0 6vh white;
  color: powderblue;
  font-size: 14vh;
}
div.gameOverDiv div:nth-child(2) {
  display: none;
  text-shadow: 0.5vh 0.5vh 1vh FireBrick, 0 0 6vh white;
  color: FireBrick;
  font-size: 14vh;
}

div.gameOverDiv div:first-child span:nth-child(2),
div.gameOverDiv div:nth-child(2) span:nth-child(2) {
  opacity: 0.4;
  text-shadow: none;
}
div.gameOverDiv div:first-child span:nth-child(5),
div.gameOverDiv div:nth-child(2) span:nth-child(5) {
  animation: blinkinLight 3s linear infinite;
  -webkit-animation: blinkinLight 3s linear infinite;
}

div.gameOverDiv div:last-child {
  font-size: 8vh;
  color: purple;
  text-shadow: 0.4vh 0.4vh 1vh purple;
}

div.gameOverDiv div:last-child span:first-child {
  color: powderblue;
  text-shadow: 0 0 1vh powderblue;
  transition: color 1s, text-shadow 1s;
  -webkit-transition: color 1s, text-shadow 1s;
}
div.gameOverDiv div:last-child span:first-child:hover {
  cursor: pointer;
  color: white;
  text-shadow: 0 0 2vh white;
}
div.gameOverDiv div:last-child span:last-child {
  color: DarkRed;
  text-shadow: 0 0 1vh DarkRed;
  transition: color 1s, text-shadow 1s;
  -webkit-transition: color 1s, text-shadow 1s;
}
div.gameOverDiv div:last-child span:last-child:hover {
  cursor: pointer;
  color: red;
  text-shadow: 0 0 2vh red;
}

@media only screen and (max-width: 80vh) {
  div.gameOverDiv div:first-child,
  div.gameOverDiv div:nth-child(2) {
    font-size: 10vh;
  }
  div.gameOverDiv div:last-child {
    font-size: 6vh;
  }
}

@media only screen and (max-width: 60vh) {
  div.gameOverDiv div:first-child,
  div.gameOverDiv div:nth-child(2) {
    font-size: 8vh;
  }
  div.gameOverDiv div:last-child {
    font-size: 4vh;
  }
}
