* {box-sizing: border-box;}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(211, 211, 211);
  background-image: radial-gradient(transparent, #10151e);
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
}
div.alignCenter {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
