div.flexMenu {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);

  display: flex;
  flex-flow: column wrap;
  width: 50vh;

  text-align: center;
  font-family: 'Indie Flower';
}

div.flexMenu span {
  flex-basis: 10vh;
  margin-bottom: 4vh;
  font-size: 10vh;
  text-shadow: 0.4vh 0.4vh 1vh purple;
}

div.flexMenu a {
  flex-basis: 10vh;
  text-decoration: none;
  padding: 2vh;

  font-size: 6vh;

  box-shadow: 0.4vh 0.4vh 2vh black;
  border: 2px solid transparent;
  transition: all 0.3s linear;
}

/* have no idea why its the second child */
div.flexMenu a:nth-child(2) {
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
}
div.flexMenu a:last-child {
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
}
div.flexMenu a:nth-child(even) {
  background-color: black;
  color: white;
}
div.flexMenu a:nth-child(odd) {
  background-color: white;
  color: black;
}
div.flexMenu a:hover {
  cursor: pointer;
  color: purple;
}
