.middleground {
  width: 76%;
  position: absolute;
  left: 22%;
  font-family: 'Lato', serif;
  font-size: 1.5vmax;
}

div.middleground ul {
  overflow: hidden;
  color: rgb(200,200,200);
  list-style-type: none;
  margin: 0;
  padding: 0;

/* list-decoreation markers are ul property,
   so setting padding to 0 overflows them */
}

.MainTextClass {
  color: rgb(127,255,0);
  z-index: 99;
}
.MainTextClass a {
  text-decoration: none;
  color: rgb(100,100,100);
}
.MainTextClass a:hover {
  color: rgb(200,200,200);
}

.tableContainer {
  display: block;
  max-width: 100%;
  overflow: auto;
}
.MainTextClass table {
  padding: 10px;
  background-color: rgba(200, 200, 200, .3);
  border: 2px solid black;
}
.MainTextClass table th {
  float: left;
  padding-right: 5px;
}
.MainTextClass table td {
  text-align: center;
}
.MarkJavaTable {
  background-color: black;
}

.MainTextClass ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.MainTextClass > ul > div:not(:first-child) {
  margin: 100px 0;
}
div.MainTextClass > ul div div{
  margin: 0;
}

.MovingLinks a {
  color: rgba(100,100,100,.5);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;

  position: relative;
  left: 0;

  -webkit-transition: left 1s;
  transition: left 1s;
}

.MovingLinks a:hover {
  color: rgb(150,150,150);
  text-shadow: 2px 2px 5px black;
  left: 10px;
}

.CustomListStyle {
  list-style: none;
  padding: 0;
  margin: 0;
}

.CustomListStyle li {
  padding-left: 16px;
}

.CustomListStyle li:before {
  content: "*";
  padding-right: 8px;
  color: powderblue;
}
