.Navigation {
background-color: transparent;
width: 20%;

position: absolute;
left: 0;
top: 0;

font-size: 25px;
}

.Sticky {
position: fixed;
}

.Navigation ul {
list-style-type: none;
margin: 0;
padding: 0;
}

.Navigation li {
text-align: center;
}

.Navigation li a {
text-decoration: none;
display: block;
padding: 20px;
border-left: 2px solid rgba(256,256,256,.2);
color: rgba(256,256,256,.5);
overflow:auto;
}

.Navigation li a:hover {
border-left: 2px solid rgba(100, 256, 100, .8);
color: white;
}
